header .container{
    margin-left: 0;
}
nav {
    margin: 20px 0 50px 0;
}
nav a{
    display: inline-block;
    float: left;
    padding: 5px 20px;
    margin-right: 10px;
    background: #efefef;
    border-radius: 10px;
}
nav a:hover{
    background: #e4e4e4;
    text-decoration: none;
}
.form-horizontal .form-group {
    margin-left: 0 !important;
}
.index-form {
    margin-top: 100px;
}
.index-form input[type="text"]{
    width: 400px;
}
.search-form .item{
    padding-left: 0;
    padding-right: 5px;
    margin-top: 100px;
}
.search-results {
    padding-top: 10px;
    padding-left: 0;
}
.items-holder{
    margin-left: 15px;
}
.items-holder .results{
    margin-bottom: 30px;
    color: #555;
}
.items-holder .item {
    margin-bottom: 26px;
}
.items-holder .item .title,
.items-holder .item .link {
    width: 100%;
    clear: both;
}
.items-holder .item .title a{
    font-size: 18px;
    color: #1A0DA9;
}
.items-holder .item .title a:visited{
    color: #609
}
.items-holder .item .link a {
    font-size: 14px;
    color: #006621;
}
.items-holder .item .link a:hover {
    text-decoration: none;
}
.items-holder .item .text {
    font-size: 13px;
}
.items-holder .item b{
    background: yellow;
}
.form-group{
    position: relative;
}
.form-group .error{
    position: absolute;
    color: red;
    top: 40px;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 1px rgba(255,0,0,0.5)
}
.navigation {
    padding: 20px 0 40px 0;
}
.navigation button {
    margin: 0 auto;
    display: block;
}
#notice{
    position: absolute;
    margin: 30px 0 5px 0;
}
@media (max-width: 768px) {
    nav {
        margin-left: 0;
    }
    .index-form input[type="text"]{
        width: 100%;
    }
}